 
html {
    width : auto!important; 
    margin : 0 auto;
    height : 100%;
} 

body { 
    z-index : 0;
    background: red;
    color: white; 
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    background-position: center;
    margin: auto 0px;
    width : auto!important; 
    height: 100%;
    pointer-events: auto;
    overflow-y: hidden;
    overflow-x: hidden; 
}  

#bgMain {
    display : block; 
    position : relative;
    margin-left : auto;
    margin-right : auto; 
    width : 100% !important; 
    min-width: 300px;  
    height : 100%;
    z-index: 0;
    background-color: black; 
    background-repeat: no-repeat;  
    //background-size: 75%;
    /**/
    -webkit-transform: translate3d(0,0,0);
}

#fgMain {
    border: 1px solid yellow;
    top: 0;
    left: 0;
    margin-top: 100px;
    margin-left: 50%;
    display : block; 
    position : absolute;
    margin:auto;
    width: 100% !important;
    background-repeat: no-repeat; 
    min-width: 300px;   
    z-index: 20; 
    height: 100%;
    background: center;
}

#endPoint { 
    width : 2px;
    height : 2px;
    position : relative; 
    border : green solid 2px;
    
}

#startPoint {
    border : transparent solid 2px;
    width : 2px;
    height : 2px;
    position : relative; 
    left: 0px;
    top : 0px;
    z-index : 10;
}

#charPosition {
    width: 100% !important;
    color: white;
    z-index: 30; 
    position : absolute;
    display : block; 
    margin-top: -400px;
    margin-left: 50px;
}

.tempPoint {
    border : transparent solid 2px; 
    width : 2px;
    height : 2px; 
    position : relative;  
}

.pathPoint {
    border : transparent solid 2px; 
    width : 2px;
    height : 2px; 
    position : relative;  
}

.pathPoint1 {
    border : transparent solid 2px; 
    width : 2px;
    height : 2px; 
    position : relative;  
}

.pathPoint2 {
    border : transparent solid 2px; 
    width : 2px;
    height : 2px; 
    position : relative;  
}

.pathPoint3 {
    border : transparent solid 2px; 
    width : 2px;
    height : 2px; 
    position : relative;  
}

.pathPoint4 {
    border : transparent solid 2px; 
    width : 2px;
    height : 2px; 
    position : relative;  
}

 

.cabbit {
    left : -150px;
    position : relative;
    top : -200px;
}

.cabbit2 {
    left : -150px;
    position : relative;
    top : -200px;
}

.invisible {
    display : none
}
 
 
 
